argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
backports-zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==3.3
defusedxml==0.7.1
django==4.0.1
django-allauth==0.48.0
django-cors-headers==3.11.0
django-crispy-forms==1.14.0
django-mdeditor==0.1.20
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
greenlet==1.1.2
idna==3.3
oauthlib==3.2.0
olefile==0.46
pillow==8.4.0
