{% extends "base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        <div class="formpost mb-3">
            {{ login_user  }}
        </div>
        {% for post in post_data %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>          
                    <div class="btn btn-warning">詳細</div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date:"Y年n月j日" }} by {{ post.author }}
                </div>
                <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        {% if filtered_flag %}
            <h2 class="card-title">
                {{ category.name  }}
            </h2>
        {% else %}
            {% include "snippets/sidebar.html" %}
        {% endif %}
        {% include "snippets/subsidebar.html" %}
        
    </div>
    
</div>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true
        },
        CommonHTML: { matchFontHeight: false }
    });
</script>

{% endblock %}