{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8 offset-md-2">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">ログイン</h2>
                <div class="formpost mb-3 error-message">
                   {{ error_message }}
                </div>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="formpost mb-3">
                        <label class="col-md-4 col-form-label text-md-end">ユーザー名</label>
                        <div class="col-md-8">
                            {% render_field account_form.username class="form-control" placeholder="ユーザー名" %}
                        </div>
                    </div>
                    <div class="formpost mb-3">
                        <label for="{{ account_form.password.id_for_label }}" class="col-md-4 col-form-label text-md-end">パスワード</label>
                        <div class="col-md-8">
                            {% render_field account_form.password class="form-control" placeholder="パスワード" %}
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">ログイン</button>
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>

{% endblock %}